
@model Backend.Models.IncomeExpenses
<div id="expense-table">
    <h2 class="table-title">EXPENSES</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <!--
            <tr>
                <td>2024-01-31</td>
                <td>Rent</td>
                <td>Sh 10,000</td>
                <td>Monthly Rent</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2024-01-31</td>
                <td>Grocery</td>
                <td>Sh 2000</td>
                <td>Weekly groceries</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>   -->

@if (Model.Expense != null && Model.Expense.Any())
{
     @foreach (var expense in Model.Expense)
      {
            <tr>
                <td>@expense.ExpenseDate</td>
                <td>@expense.Category </td>
                <td>Sh @expense.Amount</td>
                <td>@expense.Description</td>
                <td>
                    <div class="actions">
                            <button style="border:none" class="edit-expense-button">
                            <div class="edit-icon">
                                <i class="fa-solid fa-pen" title="Edit"></i>        <!-- TODO Add dynamic links TODO edit-icon and Delete-->

                            </div>
                        </button>

                        <div class="del-icon">
                            <!--a asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.ExpenseId" title="Delete">
                                <i class="fa-solid fa-trash" title="Delete"></i>
                            </a-->
                             <!--form asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.ExpenseId" method="post">
                                <button style="border:none" type="submit" class="del-icon" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form-->

                            <button style="border:none" type="submit" class="del-icon delete-expense" title="Delete" data-id="@expense.ExpenseId">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                        </div>
                       
                    </div>
                </td>
            </tr>

        }
}
else{
    <tr>
        <p>You do not have any recorded expenses.</p>
    </tr>
}
        
        </tbody>
    </table>


</div>