@model Backend.Models.IncomeExpenses

<div id="income-table">

    <h2 class="table-title">INCOME</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <!--
            <tr>
                <td>  2024-01-31</td>
                <td>Freelance</td>
                <td>Sh 10,000</td>
                <td>Web Development</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                                <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>  2024-01-31</td>
                <td>Salary</td>
                <td>Sh 20,000</td>
                <td>Monthly Salary</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>  2024-02-15</td>
                <td>Consulting</td>
                <td>Sh 15,000</td>
                <td>Technical Review</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>  2024-02-28</td>
                <td>Contract</td>
                <td>Sh 25,000</td>
                <td>Mobile App Development</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr> -->

    @foreach (var income in Model.Income)
    {
            <tr>
                <td>@income.IncomeDate</td>
                <td>@income.Category </td>
                <td>Sh @income.Amount</td>
                <td>@income.Description</td>
                <td>
                    <div class="actions">
                            <button style="border:none" class="edit-income-button">
                        <div class="edit-icon">
                            <a asp-controller="Income" asp-action="Edit" asp-route-id="@income.IncomeId" title="Edit" style="color:black">
                                <i class="fa-solid fa-pen" title="Edit"></i>        <!-- TODO Add dynamic links TODO edit-icon and Delete-->
                            </a>

                        </div>
                        </button>

                        <div class="del-icon">
                            <!--form asp-controller="Expense" asp-action="Delete" asp-route-id="@income.IncomeId" method="post">
                                <button style="border:none" type="submit" class="del-icon" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form-->
                            <!--a asp-controller="Income" asp-action="Delete" asp-route-id="@income.IncomeId" title="Delete">
                                <i class="fa-solid fa-trash" title="Delete"></i>
                            </a-->

                            <button style="border:none" type="submit" class="del-icon delete-income" title="Delete" data-id="@income.IncomeId">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                        </div>
                    </div>
                </td>
            </tr>

    }



        </tbody>
    </table>


</div>